<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{layout/defaultLayout}">
	<head>
	    <title>컨트롤</title>
	</head>
	<body>
		<th:block layout:fragment="content">
	    	<h1>컨텐츠 내용</h1>
	    	<hr>
	    	<button id="btnTest1" onClick="setItem(1);">테스트 활성화</button>
	    	<button id="btnTest2" onClick="setItem(0);">테스트 비활성화</button>
		</th:block>
		<th:block layout:fragment="pageScript">
			<script src="/rss/js/page/control.js"></script>
		</th:block>
	</body>
</html>