<!--
 * Author : Bell(bell@softbell.net)
 * Description : 모든 뷰의 body 최 하단에 들어갈 script 항목
-->
<!-- Bootstrap JS -->
<script src="/rss/js/jquery/jquery-3.4.1.min.js"></script>
<script src="/rss/js/ajax/1.16.0/umd/popper.min.js"></script>
<script src="/rss/js/bootstrap/4.3.1/bootstrap.min.js"></script>
<script src="/rss/js/bootstrap/bootstrap4-toggle.min.js"></script>
<script src="/rss/js/charts/2.9.3/Chart.min.js"></script>

<!-- Bell Library -->
<script src="/rss/js/bell/common.js"></script>



<!-- Bootstrap core JavaScript-->
<!-- <script src="/rss/vendor/jquery/jquery.min.js"></script> -->
<!-- <script src="/rss/vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->

<!-- Core plugin JavaScript-->
<script src="/rss/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/rss/common/js/sb-admin-2.min.js"></script>