<!--
 * Author : Bell(bell@softbell.net)
 * Description : 모든 뷰의 body 최 하단에 공통적으로 들어갈 script 항목
-->
<!-- JQuery JS Start -->
<script src="/assets/vendor/jquery/3.4.1/jquery.min.js"></script>
<script src="/assets/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/assets/vendor/ajax/1.16.0/umd/popper.min.js"></script>
<!-- JQuery JS End -->

<!-- Bootstrap JS Start -->
<script src="/assets/vendor/bootstrap/js/4.3.1/bootstrap.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap4-toggle.min.js"></script>
<!-- Bootstrap JS End -->

<!-- Bootstrap Theme(SB Admin 2) JS Start -->
<script src="/assets/theme/sb-admin-2/js/sb-admin-2.min.js"></script>
<!-- Bootstrap Theme(SB Admin 2) JS End -->

<!-- Common JS Start -->
<script src="/assets/common/js/basic.js"></script>
<!-- Common JS End -->