<nav class="navbar navbar-expand navbar-light bg-gray-900 topbar mb-4 static-top shadow">
	<!-- Sidebar Toggle (Topbar) Start -->
	<button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
		<i class="fa fa-bars"></i>
	</button>
	<!-- Sidebar Toggle (Topbar) End -->
	<!-- Topbar Navbar Start -->
	<ul class="navbar-nav ml-auto">
		<!-- Nav Item - Alerts Start -->
		<li class="nav-item dropdown no-arrow mx-1">
			<a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fas fa-bell fa-fw"></i>
				<span class="badge badge-danger badge-counter">3+</span><!-- Counter - Alerts -->
			</a>
			<!-- Dropdown - Alerts Start -->
			<div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
				<div class="dropdown-header"><h6 class="mb-0">경고 센터</h6></div>
				<!-- 경고 아이템 시작 -->
				<a class="dropdown-item d-flex align-items-center" href="#">
					<div class="mr-3">
						<div class="icon-circle bg-primary">
							<i class="fas fa-file-alt text-white"></i>
						</div>
					</div>
					<div>
						<div class="small text-gray-500">2020-01-17</div>
						<span class="font-weight-bold">다운 받을게 생겼어요!</span>
					</div>
				</a>
				<!-- 경고 아이템 끝 -->
				<!-- 경고 아이템 시작 -->
				<a class="dropdown-item d-flex align-items-center" href="#">
					<div class="mr-3">
						<div class="icon-circle bg-success">
							<i class="fas fa-donate text-white"></i>
						</div>
					</div>
					<div>
						<div class="small text-gray-500">2020-01-17</div>
						당신의 계좌에 290.39 달라가 송금되었습니다!
					</div>
				</a>
				<!-- 경고 아이템 끝 -->
				<!-- 경고 아이템 시작 -->
				<a class="dropdown-item d-flex align-items-center" href="#">
					<div class="mr-3">
						<div class="icon-circle bg-warning">
							<i class="fas fa-exclamation-triangle text-white"></i>
						</div>
					</div>
					<div>
						<div class="small text-gray-500">2020-01-17</div>
						돈내놔~!!
					</div>
				</a>
				<!-- 경고 아이템 끝 -->
				<a class="dropdown-item text-center small text-gray-500" href="#">모든 경고 보기</a>
			</div>
			<!-- Nav Item - Alerts End -->
		</li>
		<!-- Nav Item - Alerts End -->

		<!-- Nav Item - Messages Start -->
		<li class="nav-item dropdown no-arrow mx-1">
			<a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fas fa-envelope fa-fw"></i>
				<span class="badge badge-danger badge-counter">7</span><!-- Counter - Messages -->
			</a>
			<!-- Dropdown - Messages Start -->
			<div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
				<div class="dropdown-header"><h6 class="mb-0">메시지 센터</h6></div>
				<!-- 메시지 아이템 시작 -->
				<a class="dropdown-item d-flex align-items-center" href="#">
					<div class="dropdown-list-image mr-3">
						<img class="rounded-circle" src="https://source.unsplash.com/fn_BT9fwg_E/60x60" alt="">
						<div class="status-indicator bg-success"></div>
					</div>
					<div class="font-weight-bold">
						<div class="text-truncate">여어, 안녕! 내가 겪고 있는 문제를 네가 도와줄 수 있는지 궁금하다.</div>
						<div class="small text-gray-500">관리자 - 58분 전</div>
					</div>
				</a>
				<!-- 메시지 아이템 끝 -->
				<!-- 메시지 아이템 시작 -->
				<a class="dropdown-item d-flex align-items-center" href="#">
					<div class="dropdown-list-image mr-3">
						<img class="rounded-circle" src="https://source.unsplash.com/AU4VPcFN4LE/60x60" alt="">
						<div class="status-indicator"></div>
					</div>
					<div>
						<div class="text-truncate">지난 달에 주문한 사진을 가지고 있는데 어떻게 보내시겠습니까?</div>
						<div class="small text-gray-500">방울 테스트 - 1일 전</div>
					</div>
				</a>
				<!-- 메시지 아이템 끝 -->
				<!-- 메시지 아이템 시작 -->
				<a class="dropdown-item d-flex align-items-center" href="#">
					<div class="dropdown-list-image mr-3">
						<img class="rounded-circle" src="https://source.unsplash.com/CS2uCrpNzJY/60x60" alt="">
						<div class="status-indicator bg-warning"></div>
					</div>
					<div>
						<div class="text-truncate">지난 달 보고서는 좋아 보여, 나는 지금까지 진행되어 온 것에 대해 매우 만족해, 계속 열심히 해!</div>
						<div class="small text-gray-500">방울 - 1주 전</div>
					</div>
				</a>
				<!-- 메시지 아이템 끝 -->
				<!-- 메시지 아이템 시작 -->
				<a class="dropdown-item d-flex align-items-center" href="#">
					<div class="dropdown-list-image mr-3">
						<img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt="">
						<div class="status-indicator bg-success"></div>
					</div>
					<div>
						<div class="text-truncate">내가 착한 아이니? 내가 물어보는 이유는 누군가가 나에게 사람들이 모든 개들에게 이렇게 말한다고 말했기 때문이다, 비록 개들이 좋지 않더라도...</div>
						<div class="small text-gray-500">치킨 개 - 2주 전</div>
					</div>
				</a>
				<!-- 메시지 아이템 끝 -->
				<a class="dropdown-item text-center small text-gray-500" href="#">더 많은 메시지 읽기</a>
			</div>
			<!-- Dropdown - Messages End -->
		</li>
		<!-- Nav Item - Messages End -->

		<div class="topbar-divider d-none d-sm-block"></div>

		<!-- Nav Item - User Information Start -->
		<li class="nav-item dropdown no-arrow">
			<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="mr-2 d-none d-lg-inline text-gray-400 small" sec:authentication="name"></span>
				<img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
			</a>
			<!-- Dropdown - User Information Start -->
			<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
				<a class="dropdown-item" href="/member/profile" th:classappend="${#strings.startsWith(#httpServletRequest.requestURI, '/member/profile')} ? 'active' : ''">
					<i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
					프로필
				</a>
				<a class="dropdown-item" href="/member/log" th:classappend="${#strings.startsWith(#httpServletRequest.requestURI, '/member/log')} ? 'active' : ''">
					<i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
					활동 기록
				</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
					<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
					로그아웃
				</a>
			</div>
			<!-- Dropdown - User Information End -->
		</li>
		<!-- Nav Item - User Information End -->
	</ul>
	<!-- Topbar Navbar End -->
</nav>