<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{layout/PrimaryLayout}">
	<head>
	    <title>Bell Smart Home</title>
		<th:block layout:fragment="pageCss">
		    
		</th:block>
	</head>
	<body>
		<th:block layout:fragment="content">
			<!-- Page Head Line Start -->
			<div class="d-sm-flex align-items-center justify-content-between mb-4">
				<h1 class="h3 mb-0">Dashboard</h1>
			</div>
			<!-- Page Head Line End -->
			
			<!-- Home Alert Row Start -->
			<th:block th:replace="services/dashboard/DashboardAlert :: Alert"></th:block>
			<!-- Home Alert Row End -->
			
			<!-- Home Status Row Start -->
			<th:block th:replace="services/dashboard/DashboardStatus :: Status"></th:block>
			<!-- Home Status Row End -->
			
			
			
			
			
			
			<!-- Dummy Data Example -->
<!-- 			<th:block th:replace="services/dashboard/DashboardDummy"></th:block> -->
		</th:block>
		
		<th:block layout:fragment="pageScript">
			
		</th:block>
	</body>
</html>
