<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{layout/PrimaryLayout}">
	<head>
		<title>센터 설정</title>
	</head>
	<body>
		<th:block layout:fragment="content">
			<!-- Page Head Line Start -->
			<div class="d-sm-flex align-items-center justify-content-between mb-4">
				<h1 class="h3 mb-0">Center Setting</h1>
			</div>
			<!-- Page Head Line End -->
			
			<!-- Center Setting Card Start -->
			<div class="card shadow mb-4 text-dark">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">센터 설정</h6>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<!-- Center Setting Table Start -->
						<table class="table table-bordered" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th class="align-middle text-center w-25">키</th>
									<th class="align-middle text-center">설정 값</th>
									<th class="align-middle text-center">운영 값</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="align-middle text-center">활성화 상태</td>
									<td class="align-middle text-center" th:classappend="${ cardCenterSetting.isEnabled } ? 'text-success' : 'text-danger'" th:text="${ cardCenterSetting.isEnabled } ? '활성화' : '비활성화'"></td>
									<td class="align-middle text-center" th:classappend="${ cardCenterSettingDefault.isEnabled } ? 'text-success' : 'text-danger'" th:text="${ cardCenterSettingDefault.isEnabled } ? '활성화' : '비활성화'"></td>
								</tr>
								<tr>
									<td class="align-middle text-center">IoT Action</td>
									<td class="align-middle text-center" th:classappend="${ cardCenterSetting.iotAction } ? 'text-success' : 'text-danger'" th:text="${ cardCenterSetting.iotAction } ? '활성화' : '비활성화'"></td>
									<td class="align-middle text-center" th:classappend="${ cardCenterSettingDefault.iotAction } ? 'text-success' : 'text-danger'" th:text="${ cardCenterSettingDefault.iotAction } ? '활성화' : '비활성화'"></td>
								</tr>
								<tr>
									<td class="align-middle text-center">IoT Control</td>
									<td class="align-middle text-center" th:classappend="${ cardCenterSetting.iotControl } ? 'text-success' : 'text-danger'" th:text="${ cardCenterSetting.iotControl } ? '활성화' : '비활성화'"></td>
									<td class="align-middle text-center" th:classappend="${ cardCenterSettingDefault.iotControl } ? 'text-success' : 'text-danger'" th:text="${ cardCenterSettingDefault.iotControl } ? '활성화' : '비활성화'"></td>
								</tr>
								<tr>
									<td class="align-middle text-center">IoT Monitor</td>
									<td class="align-middle text-center" th:classappend="${ cardCenterSetting.iotMonitor } ? 'text-success' : 'text-danger'" th:text="${ cardCenterSetting.iotMonitor } ? '활성화' : '비활성화'"></td>
									<td class="align-middle text-center" th:classappend="${ cardCenterSettingDefault.iotMonitor } ? 'text-success' : 'text-danger'" th:text="${ cardCenterSettingDefault.iotMonitor } ? '활성화' : '비활성화'"></td>
								</tr>
								<tr>
									<td class="align-middle text-center">IoT Node</td>
									<td class="align-middle text-center" th:classappend="${ cardCenterSetting.iotNode } ? 'text-success' : 'text-danger'" th:text="${ cardCenterSetting.iotNode } ? '활성화' : '비활성화'"></td>
									<td class="align-middle text-center" th:classappend="${ cardCenterSettingDefault.iotNode } ? 'text-success' : 'text-danger'" th:text="${ cardCenterSettingDefault.iotNode } ? '활성화' : '비활성화'"></td>
								</tr>
								<tr>
									<td class="align-middle text-center">IoT Reserv</td>
									<td class="align-middle text-center" th:classappend="${ cardCenterSetting.iotReserv } ? 'text-success' : 'text-danger'" th:text="${ cardCenterSetting.iotReserv } ? '활성화' : '비활성화'"></td>
									<td class="align-middle text-center" th:classappend="${ cardCenterSettingDefault.iotReserv } ? 'text-success' : 'text-danger'" th:text="${ cardCenterSettingDefault.iotReserv } ? '활성화' : '비활성화'"></td>
								</tr>
								<tr>
									<td class="align-middle text-center">IoT Trigger</td>
									<td class="align-middle text-center" th:classappend="${ cardCenterSetting.iotTrigger } ? 'text-success' : 'text-danger'" th:text="${ cardCenterSetting.iotTrigger } ? '활성화' : '비활성화'"></td>
									<td class="align-middle text-center" th:classappend="${ cardCenterSettingDefault.iotTrigger } ? 'text-success' : 'text-danger'" th:text="${ cardCenterSettingDefault.iotTrigger } ? '활성화' : '비활성화'"></td>
								</tr>
								<tr>
									<td class="align-middle text-center">Web Auth Mode (미구현)</td>
									<td class="align-middle text-center" th:classappend="${ cardCenterSetting.webAuthMode } ? 'text-success' : 'text-danger'" th:text="${ cardCenterSetting.webAuthMode } ? '이메일 인증' : '인증 없음'"></td>
									<td class="align-middle text-center" th:classappend="${ cardCenterSettingDefault.webAuthMode } ? 'text-success' : 'text-danger'" th:text="${ cardCenterSettingDefault.webAuthMode } ? '이메일 인증' : '인증 없음'"></td>
								</tr>
								<tr>
									<td class="align-middle text-center">Web Login Fail Ban Time</td>
									<td class="align-middle text-center" th:classappend="${ cardCenterSetting.webLoginFailBanTime } ? 'text-success' : 'text-danger'" th:text="|${ cardCenterSetting.webLoginFailBanTime }초|"></td>
									<td class="align-middle text-center" th:classappend="${ cardCenterSettingDefault.webLoginFailBanTime } ? 'text-success' : 'text-danger'" th:text="|${ cardCenterSettingDefault.webLoginFailBanTime }초|"></td>
								</tr>
								<tr>
									<td class="align-middle text-center">Web Login Fail Check Time</td>
									<td class="align-middle text-center" th:classappend="${ cardCenterSetting.webLoginFailCheckTime } ? 'text-success' : 'text-danger'" th:text="|${ cardCenterSetting.webLoginFailCheckTime }초|"></td>
									<td class="align-middle text-center" th:classappend="${ cardCenterSettingDefault.webLoginFailCheckTime } ? 'text-success' : 'text-danger'" th:text="|${ cardCenterSettingDefault.webLoginFailCheckTime }초|"></td>
								</tr>
								<tr>
									<td class="align-middle text-center">Web Login Fail Max Count</td>
									<td class="align-middle text-center" th:classappend="${ cardCenterSetting.webLoginFailMaxCount } ? 'text-success' : 'text-danger'" th:text="|${ cardCenterSetting.webLoginFailMaxCount }회|"></td>
									<td class="align-middle text-center" th:classappend="${ cardCenterSettingDefault.webLoginFailMaxCount } ? 'text-success' : 'text-danger'" th:text="|${ cardCenterSettingDefault.webLoginFailMaxCount }회|"></td>
								</tr>
								<tr>
									<td class="align-middle text-center">Web Maintenance</td>
									<td class="align-middle text-center" th:classappend="!${ cardCenterSetting.webMaintenance } ? 'text-success' : 'text-danger'" th:text="${ cardCenterSetting.webMaintenance } ? '유지보수중' : '정상 운영'"></td>
									<td class="align-middle text-center" th:classappend="!${ cardCenterSettingDefault.webMaintenance } ? 'text-success' : 'text-danger'" th:text="${ cardCenterSettingDefault.webMaintenance } ? '유지보수중' : '정상 운영'"></td>
								</tr>
								<tr>
									<td class="align-middle text-center">Web Register</td>
									<td class="align-middle text-center" th:classappend="${ cardCenterSetting.webRegister } ? 'text-success' : 'text-danger'" th:text="${ cardCenterSetting.webRegister } ? '회원가입 가능' : '회원가입 불가능'"></td>
									<td class="align-middle text-center" th:classappend="${ cardCenterSettingDefault.webRegister } ? 'text-success' : 'text-danger'" th:text="${ cardCenterSettingDefault.webRegister } ? '회원가입 가능' : '회원가입 불가능'"></td>
								</tr>
							</tbody>
						</table>
						<!-- Center Setting Table End -->
						
						<a href="/admin/center/modify" class="form-control btn btn-warning">수정</a>
					</div>
				</div>
			</div>
			<!-- Center Setting Card End -->
		</th:block>
	</body>
</html>