<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{layout/defaultLayout}">
	<head>
	    <title>컨트롤</title>
	</head>
	<body>
		<th:block layout:fragment="content">
	    	<h1>컨텐츠 내용</h1>
	    	<hr>
	    	<a href="/iot/led?mode=circuit&value=on">LED ON</a>
	    	<a href="/iot/led?mode=circuit&value=off">LED OFF</a>
	    	<a href="/iot/led?mode=bar&value=off">OFF</a>
	    	<a href="/iot/led?mode=bar&value=red">RED</a>
	    	<a href="/iot/led?mode=bar&value=green">GREEN</a>
	    	<a href="/iot/led?mode=bar&value=blue">BLUE</a>
	    	<a href="/iot/led?mode=bar&value=white">WHITE</a>
		</th:block>
		<th:block layout:fragment="pageScript">
			<script src="/rss/js/page/login.js"></script>
		</th:block>
	</body>
</html>