<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{layout/PrimaryLayout}">
	<head>
		<title>페이지를 찾을 수 없습니다.</title>
	</head>
	<body>
		<th:block layout:fragment="content">
			<div class="text-center">
	            <div class="error mx-auto text-white" th:data-text="${#strings.isEmpty(code)} ? '404' : ${code}" th:text="${#strings.isEmpty(code)} ? '404' : ${code}"></div>
	            <p class="lead text-gray-400 mb-5" th:text="${#strings.isEmpty(msg)} ? '존재하지 않는 페이지 입니다.' : ${msg}"></p>
	            <a href="/">← 메인 화면으로 이동</a>
			</div>
		</th:block>
	</body>
</html>
