<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{layout/PrimaryLayout}">
	<head>
	    <title>접근 제한</title>
	</head>
	<body>
		<th:block layout:fragment="content">
			<div class="text-center">
	            <span class="error mx-auto text-white" data-text="Denied">Denied</span>
<!-- 	            <i class="fas fa-ban fa-9x"></i> -->
	            <p sec:authorize="isAuthenticated()" class="lead text-gray-400 mb-5">권한 부족</p>
	            <p sec:authorize="!isAuthenticated()" class="lead text-gray-400 mb-5">로그인 필요</p>
	            <a href="/">← 메인 화면으로 이동</a>
			</div>
		</th:block>
	</body>
</html>