<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{layout/PrimaryLayout}">
	<head>
		<title>액션</title>
		<th:block layout:fragment="pageCss">
			<link href="/rss/vendor/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet">
		</th:block>
	</head>
	<body>
		<th:block layout:fragment="content">
			<!-- Page Head Line Start -->
			<div class="d-sm-flex align-items-center justify-content-between mb-4">
				<h1 class="h3 mb-0">Action Create</h1>
			</div>
			<!-- Page Head Line End -->
			
			<form method="POST" action="/action/create">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				<!-- Action Info Create Card Start -->
				<div class="card shadow mb-4 text-dark">
					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary">액션 정보</h6>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<!-- Action Info Create Table Start -->
							<table class="table table-bordered" width="100%" cellspacing="0">
								<thead>
									<tr>
										<th class="align-middle text-center w-25">이름</th>
										<th class="align-middle text-center">값</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="align-middle text-center">활성화 상태</td>
										<td class="align-middle text-center"><input type="text" placeholder="위치만"></td>
									</tr>
									<tr>
										<td class="align-middle text-center">설명</td>
										<td class="align-middle text-center"><input type="text" placeholder="위치만"></td>
									</tr>
								</tbody>
							</table>
							<!-- Action Info Create Table End -->
						</div>
					</div>
				</div>
				<!-- Action Info Create Card End -->
				<!-- Action Item Create Card Start -->
				<div class="card shadow mb-4 text-dark">
					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary">액션 아이템</h6>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<!-- Action Item Create Table Start -->
							<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
								<thead>
									<tr>
										<th class="align-middle text-center w-25"></th>
										<th class="align-middle text-center">노드 별칭</th>
										<th class="align-middle text-center">아이템 별칭</th>
										<th class="align-middle text-center">설정값</th>
									</tr>
								</thead>
								<tbody>
									<tr th:if="${not #lists.isEmpty(listNodeItem)}" th:each="value : ${listNodeItem}">
										<td class="align-middle text-center">체크박스</td>
										<td class="align-middle text-center"><a th:href="|/node/${value.node.nodeId}|" th:text="${value.node.alias}" target="_blank"></a></td>
										<td class="align-middle text-center"><a th:href="|/node/${value.itemId}|" th:text="${value.alias}" target="_blank"></a></td>
										<td class="align-middle text-center"><input type="text" placeholder="위치만"></td>
									</tr>
								</tbody>
							</table>
							<!-- Action Item Create Table End -->
						</div>
					</div>
				</div>
				<!-- Action Item Create Card End -->
				<input class="form-control btn btn-primary" type="submit" value="저장">
			</form>
		</th:block>
		<th:block layout:fragment="pageScript">
			<script src="/rss/vendor/datatables/js/jquery.dataTables.min.js"></script>
			<script src="/rss/vendor/datatables/js/dataTables.bootstrap4.min.js"></script>
			<script src="/rss/common/js/datatables-default.js"></script>
		</th:block>
	</body>
</html>