<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{layout/PrimaryLayout}">
	<head>
		<title>액션</title>
	</head>
	<body>
		<th:block layout:fragment="content">
			<!-- Page Head Line Start -->
			<div class="d-sm-flex align-items-center justify-content-between mb-4">
				<h1 class="h3 mb-0">Action</h1>
				<a href="action/create" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus"></i> 액션 생성</a>
			</div>
			<!-- Page Head Line End -->
			
			<!-- Home Status Card Row Start -->
			<div class="row">
				<!-- Home Status Card Start -->
				<div class="col-xl-3 col-md-6 mb-4">
					<div class="card border-left-primary shadow h-100 py-2">
						<div class="card-body">
							<div class="row no-gutters align-items-center">
								<div class="col mr-2">
									<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">실내 평균 온도</div>
									<div class="progress mb-4">
										<div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 20%" aria-valuenow="2" aria-valuemin="-20" aria-valuemax="50">2℃</div>
									</div>
								</div>
								<div class="col-auto">
									<i class="fas fa-info fa-2x text-gray-300"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Home Status Card End -->
			</div>
			<!-- Home Status Card Row End -->
		</th:block>
	</body>
</html>