<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{layout/PrimaryLayout}">
	<head>
		<title>액션 정보</title>
		<th:block layout:fragment="pageCss">
			<link href="/rss/vendor/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet">
		</th:block>
	</head>
	<body>
		<th:block layout:fragment="content">
			<!-- Page Head Line Start -->
			<div class="d-sm-flex align-items-center justify-content-between mb-4">
				<h1 class="h3 mb-0">Action Info</h1>
			</div>
			<!-- Page Head Line End -->
			
			<!-- Action Info Card Start -->
			<div class="card shadow mb-4 text-dark">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">액션 정보</h6>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<!-- Action Info Table Start -->
						<table class="table table-bordered" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th class="align-middle text-center w-25">이름</th>
									<th class="align-middle text-center">값</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="align-middle text-center">활성화 상태</td>
									<td class="align-middle text-center text-success" th:if="${cardActionInfo.enableStatus}">활성화</td>
									<td class="align-middle text-center text-danger" th:unless="${cardActionInfo.enableStatus}">비활성화</td>
								</tr>
								<tr>
									<td class="align-middle text-center">설명</td>
									<td class="align-middle text-center" th:text="${cardActionInfo.description}"></td>
								</tr>
							</tbody>
						</table>
						<!-- Action Info Table End -->
					</div>
				</div>
			</div>
			<!-- Action Info Card End -->
			
			<!-- Action Interlock Info Card Start -->
			<div class="card shadow mb-4 text-dark">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">액션 연동 정보</h6>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<!-- Action Info Table Start -->
						<table class="table table-bordered" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th class="align-middle text-center w-25">토큰명</th>
									<th class="align-middle text-center">웹훅 URL (POST)</th>
								</tr>
							</thead>
							<tbody>
								<tr th:if="${not #lists.isEmpty(listCardInterlocks)}" th:each="value : ${listCardInterlocks}">
									<td class="align-middle text-center" th:text="${value.name}"></td>
									<td class="align-middle text-center text-success" th:text="|${baseURL}/api/rest/v1/interlock/${value.token}/action/${cardActionInfo.actionId}|"></td>
								</tr>
							</tbody>
						</table>
						<!-- Action Info Table End -->
					</div>
				</div>
			</div>
			<!-- Action Interlock Info Card End -->
			
			<!-- Action Item Card Start -->
			<div class="card shadow mb-4 text-dark">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">액션 아이템</h6>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<!-- Action Item Table Start -->
						<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th class="align-middle text-center">노드 별칭</th>
									<th class="align-middle text-center">아이템 별칭</th>
									<th class="align-middle text-center">설정값</th>
								</tr>
							</thead>
							<tbody>
								<tr th:if="${not #lists.isEmpty(listCardItems)}" th:each="value : ${listCardItems}">
									<td class="align-middle text-center"><a th:href="@{/node/} + ${value.nodeId}" th:text="${value.nodeAlias}" target="_blank"></a></td>
									<td class="align-middle text-center"><a th:href="@{/node/item/} + ${value.itemId}" th:text="${value.itemAlias}" target="_blank"></a></td>
									<td class="align-middle text-center" th:text="${value.pinStatus}"></td>
								</tr>
							</tbody>
						</table>
						<!-- Action Item Table End -->
					</div>
				</div>
			</div>
			<!-- Action Item Create Card End -->
			<a class="form-control btn btn-warning" th:href="|/action/modify/${cardActionInfo.actionId}|">수정</a>
		</th:block>
		
		<th:block layout:fragment="pageScript">
			<script src="/rss/vendor/datatables/js/jquery.dataTables.min.js"></script>
			<script src="/rss/vendor/datatables/js/dataTables.bootstrap4.min.js"></script>
			<script src="/rss/common/js/datatables-default.js"></script>
		</th:block>
	</body>
</html>