<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{layout/PrimaryLayout}">
	<head>
		<title>노드</title>
	</head>
	<body>
		<th:block layout:fragment="content">
			<!-- Page Head Line Start -->
			<div class="d-sm-flex align-items-center justify-content-between mb-4">
				<h1 class="h3 mb-0">Monitor</h1>
			</div>
			<!-- Page Head Line End -->
			
			<!-- Monitor Row Start -->
			<div class="row">
				<!-- Node Card Start -->
				<div class="col-xl-3 col-md-6 mb-4" th:if="${not #lists.isEmpty(listCardNodes)}" th:each="cardValue : ${listCardNodes}">
					<div class="card shadow">
						<div class="card-header bg-primary" th:text="${ cardValue.alias }"></div>
						<div class="card-body text-dark">
							<div class="card-text">
								<div th:if="${ not #lists.isEmpty(cardValue.listItems) }" th:each="cardItemValue : ${cardValue.listItems}">
									<span th:text="${cardItemValue.alias}"></span>
									<div class="progress mb-4">
										<div th:if="${cardItemValue.digital}" th:text="${cardItemValue.lastStatus} == 1 ? 'On' : 'Off'" th:style="|width: ${cardItemValue.widthPercent}%|" th:classappend="${cardItemValue.widthPercent} == 0 ? 'text-dark'" class="progress-bar progress-bar-striped progress-bar-animated bg-primary"></div>
										<div th:if="not ${cardItemValue.digital} and ${cardItemValue.widthPercent} < 50" th:text="${cardItemValue.lastStatus}" th:style="|width: ${cardItemValue.widthPercent}%|" th:classappend="${(cardItemValue.widthPercent < 30 ? 'bg-primary' : 'bg-success') + (cardItemValue.widthPercent < 10 ? ' text-dark' : '')}" class="progress-bar progress-bar-striped progress-bar-animated"></div>
										<div th:if="not ${cardItemValue.digital} and ${cardItemValue.widthPercent} >= 50" th:text="${cardItemValue.lastStatus}" th:style="|width: ${cardItemValue.widthPercent}%|" th:classappend="${cardItemValue.widthPercent} > 60 ? 'bg-danger' : 'bg-success'" class="progress-bar progress-bar-striped progress-bar-animated"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-footer" th:with="lastSec = ${cardValue.lastReceiveSecond}">
							<small class="text-muted" th:if="${lastSec} < 60" 																												th:text="|마지막 수신: 1분 이내|" data-toggle="tooltip" data-placement="top" th:title="${#dates.format(cardValue.lastReceive, 'yyyy/MM/dd HH:mm:ss')}"></small>
							<small class="text-muted" th:if="${lastSec} > 60 and ${lastSec} <= 60 * 60" 							th:with="lastTime = ${lastSec} / 60" 					th:text="|마지막 수신: ${#numbers.formatDecimal(lastTime, 0, 0)}분 전|" data-toggle="tooltip" data-placement="top" th:title="${#dates.format(cardValue.lastReceive, 'yyyy/MM/dd HH:mm:ss')}"></small>
							<small class="text-muted" th:if="${lastSec} > 60 * 60 and ${lastSec} <= 60 * 60 * 24" 					th:with="lastTime = ${lastSec} / (60 * 60)" 			th:text="|마지막 수신: ${#numbers.formatDecimal(lastTime, 0, 0)}시간 전|" data-toggle="tooltip" data-placement="top" th:title="${#dates.format(cardValue.lastReceive, 'yyyy/MM/dd HH:mm:ss')}"></small>
							<small class="text-muted" th:if="${lastSec} > 60 * 60 * 24 and ${lastSec} <= 60 * 60 * 24 * 30" 		th:with="lastTime = ${lastSec} / (60 * 60 * 24)" 		th:text="|마지막 수신: ${#numbers.formatDecimal(lastTime, 0, 0)}일 전|" data-toggle="tooltip" data-placement="top" th:title="${#dates.format(cardValue.lastReceive, 'yyyy/MM/dd HH:mm:ss')}"></small>
							<small class="text-muted" th:if="${lastSec} > 60 * 60 * 24 * 30 and ${lastSec} <= 60 * 60 * 24 * 365" 	th:with="lastTime = ${lastSec} / (60 * 60 * 24 * 30)" 	th:text="|마지막 수신: ${#numbers.formatDecimal(lastTime, 0, 0)}달 전|" data-toggle="tooltip" data-placement="top" th:title="${#dates.format(cardValue.lastReceive, 'yyyy/MM/dd HH:mm:ss')}"></small>
							<small class="text-muted" th:if="${lastSec} > 60 * 60 * 24 * 365" 										th:with="lastTime = ${lastSec} / (60 * 60 * 24 * 365)" 	th:text="|마지막 수신: ${#numbers.formatDecimal(lastTime, 0, 0)}년 전|" data-toggle="tooltip" data-placement="top" th:title="${#dates.format(cardValue.lastReceive, 'yyyy/MM/dd HH:mm:ss')}"></small>
						</div>
					</div>
				</div>
				<!-- Node Card End -->
			</div>
			<!-- Monitor Row End -->
		</th:block>
	</body>
</html>