<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{layout/PrimaryLayout}">
	<head>
		<title>노드</title>
	</head>
	<body>
		<th:block layout:fragment="content">
			<!-- Page Head Line Start -->
			<div class="d-sm-flex align-items-center justify-content-between mb-4">
				<h1 class="h3 mb-0">Monitor</h1>
			</div>
			<!-- Page Head Line End -->
			
			<!-- Monitor Row Start -->
			<div class="row">
				<!-- Node Card Start -->
				<div class="col-xl-3 col-md-6 mb-4" th:if="${not #lists.isEmpty(listCardNodes)}" th:each="cardValue : ${listCardNodes}">
					<div class="card shadow">
						<div class="card-header bg-primary" th:text="${ cardValue.alias }"></div>
						<div class="card-body text-dark">
							<div class="card-text">
								<div th:if="${ not #lists.isEmpty(cardValue.listItems) }" th:each="cardItemValue : ${cardValue.listItems}">
									<span th:text="${cardItemValue.alias}"></span>
									<div class="progress mb-4">
										<div th:if="${cardItemValue.isDigital}" th:text="${cardItemValue.lastStatus} == 1 ? 'On' : 'Off'" th:style="|width: ${cardItemValue.widthPercent}%|" th:classappend="${cardItemValue.widthPercent} == 0 ? 'text-dark'" class="progress-bar progress-bar-striped progress-bar-animated bg-primary"></div>
										<div th:if="not ${cardItemValue.isDigital} and ${cardItemValue.widthPercent} < 50" th:text="${cardItemValue.lastStatus}" th:style="|width: ${cardItemValue.widthPercent}%|" th:classappend="${(cardItemValue.widthPercent < 30 ? 'bg-primary' : 'bg-success') + (cardItemValue.widthPercent < 10 ? ' text-dark' : '')}" class="progress-bar progress-bar-striped progress-bar-animated"></div>
										<div th:if="not ${cardItemValue.isDigital} and ${cardItemValue.widthPercent} >= 50" th:text="${cardItemValue.lastStatus}" th:style="|width: ${cardItemValue.widthPercent}%|" th:classappend="${cardItemValue.widthPercent} > 60 ? 'bg-danger' : 'bg-success'" class="progress-bar progress-bar-striped progress-bar-animated"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-footer">
							<small class="text-muted" th:text="|노드 제어 모드: ${cardValue.controlMode}|"></small>
						</div>
					</div>
				</div>
				<!-- Node Card End -->
			</div>
			<!-- Monitor Row End -->
		</th:block>
	</body>
</html>