<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{layout/PrimaryLayout}">
	<head>
		<title>예약</title>
	</head>
	<body>
		<th:block layout:fragment="content">
			<!-- Page Head Line Start -->
			<div class="d-sm-flex align-items-center justify-content-between mb-4">
				<h1 class="h3 mb-0">Reservation</h1>
				<a th:href="@{/reserv/create}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus"></i> 예약 생성</a>
			</div>
			<!-- Page Head Line End -->
			
			<!-- Reservation Card Row Start -->
			<div class="row">
				<!-- Reservation Card Start -->
				<div class="col-xl-3 col-md-6 mb-4" th:if="${not #lists.isEmpty(listCardReservs)}" th:each="cardValue : ${listCardReservs}">
					<div class="card border-left-primary shadow h-100 py-2">
						<div class="card-body">
							<div class="row no-gutters align-items-center">
								<div class="col mr-2">
									<div class="font-weight-bold text-primary text-uppercase mb-1"><a th:href="@{/reserv/} + ${cardValue.reservId}" th:text="${cardValue.description}">액션 설명</a></div>
								</div>
								<div class="col-auto">
									<input th:checked="${cardValue.enableStatus}" class="reserv" type="checkbox" data-toggle="toggle" data-size="sm" th:value="${cardValue.reservId}">
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Reservation Card End -->
			</div>
			<!-- Reservation Card Row End -->
		</th:block>
		
		<th:block layout:fragment="pageScript">
			<script src="/rss/page/js/reserv.js"></script>
		</th:block>
	</body>
</html>