<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{layout/PrimaryLayout}">
	<head>
		<title>노드</title>
		<th:block layout:fragment="pageCss">
			<link href="/rss/vendor/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet">
		</th:block>
	</head>
	<body>
		<th:block layout:fragment="content">
			<!-- Page Head Line Start -->
			<div class="d-sm-flex align-items-center justify-content-between mb-4">
				<h1 class="h3 mb-0">Node Control</h1>
				<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
			</div>
			<!-- Page Head Line End -->
			
			<!-- Node List Card Start -->
			<div class="card shadow mb-4 text-dark">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">노드 리스트</h6>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<!-- Node List DataTables Start -->
						<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th class="align-middle text-center w-25">노드 별칭</th>
									<th class="align-middle text-center w-50">활성화 여부</th>
									<th class="align-middle text-center">제어 모드</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th class="align-middle text-center w-25">노드 별칭</th>
									<th class="align-middle text-center w-50">활성화 여부</th>
									<th class="align-middle text-center">제어 모드</th>
								</tr>
							</tfoot>
							<tbody>
								<tr th:if="${not #lists.isEmpty(listNode)}" th:each="nodeValue : ${listNode}">
									<td class="align-middle text-center"><a th:href="'/node/' + ${ nodeValue.nodeId }" th:text="${ nodeValue.alias }"></a></td>
									<td class="align-middle text-center text-warning" th:if="${ nodeValue.enableStatus == T(net.softbell.bsh.domain.EnableStatusRule).WAIT }">인증대기</td>
									<td class="align-middle text-center text-secondary" th:if="${ nodeValue.enableStatus == T(net.softbell.bsh.domain.EnableStatusRule).DISABLE }">비활성화</td>
									<td class="align-middle text-center text-success" th:if="${ nodeValue.enableStatus == T(net.softbell.bsh.domain.EnableStatusRule).ENABLE }">활성화</td>
									<td class="align-middle text-center text-danger" th:if="${ nodeValue.enableStatus == T(net.softbell.bsh.domain.EnableStatusRule).REJECT }">접근제한</td>
									<td class="align-middle text-center" th:text="${ nodeValue.controlMode }"></td>
			<!-- 						<td th:if="${ logValue.ipv4 } != '0:0:0:0:0:0:0:1'" class="align-middle text-center" th:text="${ logValue.ipv4 }"></td> -->
			<!-- 						<td th:if="${ logValue.status == T(net.softbell.bsh.domain.AuthStatusRule).SUCCESS }" class="align-middle text-center text-success">성공</td> -->
								</tr>
							</tbody>
						</table>
						<!-- Node List DataTables End -->
					</div>
				</div>
			</div>
			<!-- Node List Card End -->
		</th:block>
		<th:block layout:fragment="pageScript">
			<script src="/rss/vendor/datatables/js/jquery.dataTables.min.js"></script>
			<script src="/rss/vendor/datatables/js/dataTables.bootstrap4.min.js"></script>
			<script src="/rss/common/js/datatables-default.js"></script>
		</th:block>
	</body>
</html>